<div class="product-categories">
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
        <a class="navmenu-brand visible-md visible-lg icon-logo dw navbar-brand" href="http://shop.fender.com/en-US/">
            <img src="http://demandware.edgesuite.net/aart_prd/on/demandware.static/Sites-Fender-Site/-/default/dwa3133224/images/fender-logo.png" alt="Fender">
        </a>

        <h5>CATEGORIES</h5>
        <ul class="nav navmenu-nav product-filters" >
            <li ng-repeat="productType in vm.categories">
                <input type="checkbox" ng-model="productType.selected" ng-change="vm.toggleFilter(productType.prodTypeId)"><label>{{productType.productType}}</label>
                <ul class="product-filters">
                    <li ng-repeat="productSubType in productType.subTypes">
                        <input type="checkbox" ng-model="productSubType.selected" ng-change="vm.toggleFilter(productType.prodTypeId, productSubType.prodSubTypeId)"><label>{{productSubType.productSubType}}</label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="navbar navbar-default navbar-fixed-left hidden-md hidden-lg">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>

